DB_URL=YOUR_DATABASE_URL
DB_USERNAME=YOUR_DATABASE_USERNAME
DB_PASSWORD=YOUR_DATABASE_PASSWORD

KEYCLOAK_ADMIN_USERNAME=ADMIN_USERNAME
KEYCLOAK_ADMIN_PASSWORD=ADMIN_PASSWORD
KEYCLOAK_ADMIN_CLIENT_ID=ADMIN_CLIENT_ID
KEYCLOAK_REALM_NAME=REALM_NAME

GEMINI_API_KEY=add-your-api-key

