DB_URL=YOUR_DATABASE_URL
DB_USERNAME=YOUR_DATABASE_USERNAME
DB_PASSWORD=YOUR_DATABASE_PASSWORD

KEYCLOAK_ADMIN_USERNAME=ADMIN_USERNAME
KEYCLOAK_ADMIN_PASSWORD=ADMIN_PASSWORD
KEYCLOCK_GMAIL_APP_PASSWORD=SMTP_PASSWORD

GEMINI_API_KEY=add-your-api-key

CLOUDINARY_CLOUD_NAME=YOUR_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_API_KEY
CLOUDINARY_API_SECRET=YOUR_API_SECRET