DB_URL=YOUR_DATABASE_URL
DB_USERNAME=YOUR_DATABASE_USERNAME
DB_PASSWORD=YOUR_DATABASE_PASSWORD

KEYCLOAK_ADMIN_USERNAME=ADMIN_USERNAME
KEYCLOAK_ADMIN_PASSWORD=ADMIN_PASSWORD
KEYCLOCK_GMAIL_APP_PASSWORD=SMTP_PASSWORD

RESEND_API_KEY=YOUR_API_KEY
GEMINI_API_KEY=YOUR_API_KEY

